.HA_VERSION
.google.token
service.json

.cloud/
.storage/*
!.storage/lovelace.lovelace_home

node-red/*
!node-red/flows.json
!node-red/settings.js

appdaemon/
custom_components/
deps/
themes/
tts/
www/
__pycache__/

home-assistant.log
home-assistant_v2.db

google_calendars.yaml
known_devices.yaml
secrets.yaml

